.user-page-wrapper {
  width: 70%;
  /* background-color: darkcyan; */
  margin-left: 15%;
  margin-right: 15%;
}
.banner-wrapper {
  grid-area: banner;
  width: 100%;
  height: 175px;
  object-fit: fill;
  background-color: pink;
  overflow: hidden;
}
.tabs-container {
  width: 100%;
  height: 50px;
  background-color: #c3ffff;
}
.banner-image {
  width: 100%;
}
.main-content-wrapper {
  background-color: darkkhaki;
  display: grid;
  grid-template-areas: "main-content profile";
  grid-template-columns: 85% 15%;
  height: 700px;
}
.profile-container {
  grid-area: profile;
  background: darkmagenta;
}
.tab {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.tabs-container {
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.tab-link {
  text-decoration: none;
}
.active-tab {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}
