.user-page-wrapper {
  /* width: 70%; */
  /* background-color: darkcyan; */
  margin-left: 20%;
  margin-right: 20%;
}
.banner-wrapper {
  grid-area: banner;
  width: 100%;
  height: 175px;
  object-fit: fill;
  background-color: pink;
  overflow: hidden;
}

.banner-image {
  width: 100%;
}
.main-content-wrapper {
  background-color: darkkhaki;
  display: grid;
  grid-template-areas: "main-content profile";
  grid-template-columns: 85% 15%;
  height: 700px;
}
.profile-container {
  grid-area: profile;
  background: darkmagenta;
}
.tab {
  /* margin-left: 15px;
  margin-right: 15px; */
  font-size: 20px;
  cursor: pointer;

  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab:hover {
  background-color: #c3ffff;
}
.Link:hover a {
  color: rgb(142, 129, 192);
}
.tabs-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(163, 237, 255);
}
.tab-link {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-tab {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}
