.music-content-wrapper {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #e6e6e6;
  /* height: 150px; */
  display: grid;
  grid-template-areas: "main-content profile";
  grid-template-columns: 80% 20%;
  min-height: 700px;
  box-sizing: border-box;
  /* padding-left: 2%; */
  min-height: 900px;
}
.profile-container {
  grid-area: profile;
  background-color: blanchedalmond;
}
.main-content-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 250px;
}
.audio-details-2 {
  margin-top: 5%;
}
