.nav-nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}
.logo-container {
  height: 100%;
}
.logo-image {
  height: 100%;
}
.nav-nav.active {
  /* background-color: #dddddd; */
  background-color: lavender;
}
.auth-container {
  list-style: none;
  display: flex;
  color: black;
  align-items: center;
  /* width: 20%; */
  justify-content: space-between;
}
.sign-up {
  padding-right: 25px;
}
#root {
  height: 100%;
}
body {
  height: 100vh;
}
