.profile-button {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 0;
  position: relative;
}
.navbar-image-container {
  width: 100%;
  height: 100%;
}
.navbar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-dropdown {
  position: absolute;
  right: 3%;
  margin-top: 10px;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
  border: #afaea2 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}
.profile-link-container {
  padding: 5px 20px 6px 20px;
  height: 31px;
  display: flex;
  align-content: center;
}
.profile-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.profile-link-container:hover {
  background-color: #eee;
}
.profile-dropdown-username {
  padding-left: 20px;
}
.profile-logout {
  cursor: pointer;
}
.profile-divider {
  border-top: 1px solid #d0d0d0;
}
