.input {
  padding-right: 30px;
  border: none;
  height: 35px;
  width: 250px;
  outline: none;
  padding-left: 7px;
  background-color: #ececec;
  font-size: 14px;
}
.search-form {
  position: relative;
}
.search-icon {
  height: 100%;
  width: 70%;
}
.search-icon:hover {
  cursor: pointer;
}

.search-btn {
  position: absolute;
  width: 15%;
  height: 100%;
  border: none;
  background-color: #ececec;
  cursor: pointer;
}
.reactive-search-wrapper {
  position: absolute;
  z-index: 12;
  width: 115%;
}
.search-bar-container {
  position: relative;
}
