.featured-wrapper {
  width: 100%;
  height: 600px;
  background-color: #222;
}
.featured-grid {
  display: grid;
  grid-template-areas: "main side";
  padding-left: 9%;
  padding-right: 9%;
  grid-template-columns: 75% 25%;
  height: 100%;
}
.side-feature-wrapper {
  grid-area: side;
  display: grid;
  /* flex-direction: column; */
  grid-template-rows: repeat(3, 1fr);

  box-sizing: border-box;
  margin-left: 1%;
  font-size: 20px;
}
.main-feature-wrapper {
  grid-area: main;
  background-color: aqua;
  max-height: 600px;
  width: 100%;
  font-size: 50px;
}
.side-feature-1,
.side-feature-2 {
  margin-bottom: 1%;
}
.side-feature {
  background-color: magenta;
  max-height: 196px;
}
.currently-selling-wrapper {
  height: 400px;
  background-color: beige;
}
.new-and-notable-wrapper {
  height: 450px;
  /* background-color: burlywood; */
  background-color: #d8e7ea;
}
.filter-search-wrapper {
  height: 400px;
  background-color: darkcyan;
}
.section-title {
  display: flex;
  padding-top: 3%;
  padding-left: 15%;
  color: #408ea3;
  font-size: 16px;
  font-weight: 500;
}
.new-container {
  margin-top: 2%;
  width: 100%;
  /* max-height: 300px; */
  height: 300px;
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
}
.sell-now-container {
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 300px;
  /* height: 300px; */
}
